.contenedor{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    max-height: calc(100vh - 5rem);
    overflow: auto;
    align-items: center;
  
  

    input, button{
      width: 90%;
      height: 2.5rem;
      outline: none;
      border: none;
      border-radius: 1.25rem;
      text-align: center;
      font-size: 1.1rem;
    }
  
    input{
      background-color: var(--fondo-input);
      color: var(--texto-input);
    }
  
    button{
      background-color: (var(--boton));
    }
  
    h1, p{
      color: var(--textos);
    }
    p{
      font-size: .6rem;
    }
  }
  #tema {
    color: var(--icono-tema);
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
  }
  
  