:root{
    --fondo: #0072e7;
    --icono: #ffffff;
    --fondo-input: #FFFFFF;
    --texto-input: #434343;
    --textos: #FFFFFF;
    --icono-tema: #CFCFCF;
    --boton: #ffc800;
    --fondo-titulo: #2549f9;
    --footer:  #181732;
    --fondo-input2: #056cd3;

}