<ion-content [fullscreen]="true">
  <div class="contenedor">
 


    <ion-content>
      <ion-item>
        <ion-label>Origen: </ion-label>
        <ion-input [(ngModel)]="start" (ionInput)="updateSearchResults('start')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Destino: </ion-label>
        <ion-input [(ngModel)]="end" (ionInput)="updateSearchResults('end')"></ion-input>
      </ion-item>
    
      <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    
      <ion-button expand="full" (click)="calculateAndDisplayRoute()">Calcular Ruta</ion-button>
    
      <div #map style="height: 100%;"></div>
    
      <p>Distancia: {{ distancia }}</p>
      <p>Duración: {{ duracion }}</p>
    </ion-content>

    

  <footer id="footerRuta">
    <div class="boton">
      <ion-icon name="home" [routerLink]="['/inicio']"></ion-icon>
      <p>Home</p>
    </div>
    <div class="boton">
      <ion-icon name="map" [routerLink]="['/ruta']"></ion-icon>
      <p>Mapa</p>
    </div>
    <div class="boton" (click)="redirigir()">
      <ion-icon name="person"></ion-icon>
      <p>Perfil</p>
    </div>
    <div class="boton">
      <ion-icon name="car" [routerLink]="['/viajes']"></ion-icon>
      <p>Viajes</p>
    </div>
  </footer>

