<ion-content [fullscreen]="true">
  <div class="contenedor">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ruta</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cambiarTema()">
            <ion-icon [name]="icono === 'oscuro' ? 'sunny' : 'moon'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <div>
        <ion-item>
          <ion-label position="stacked">Inicio</ion-label>
          <ion-input
            [(ngModel)]="start"
            (ionInput)="updateSearchResults('start')"
            (focus)="currentSearchField = 'start'"
            placeholder="Escribe la dirección de inicio"
          ></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="stacked">Destino</ion-label>
          <ion-input
            [(ngModel)]="end"
            (ionInput)="updateSearchResults('end')"
            (focus)="currentSearchField = 'end'"
            placeholder="Escribe la dirección de destino"
          ></ion-input>
        </ion-item>
    
        <div *ngIf="autocompleteItems?.length">
          <ion-list>
            <ion-item
              *ngFor="let item of autocompleteItems"
              (click)="selectSearchResult(item)"
            >
              {{ item.description }}
            </ion-item>
          </ion-list>
        </div>
      </div>
    
      <div #map style="width: 100%; height: 300px; margin-top: 20px;"></div>
    
      <ion-card>
        <ion-card-content>
          <p><strong>Distancia:</strong> {{ distancia }}</p>
          <p><strong>Duración:</strong> {{ duracion }}</p>
        </ion-card-content>
      </ion-card>
    
      <ion-button expand="full" (click)="calculateAndDisplayRoute()">
        Calcular Ruta
      </ion-button>
    </ion-content>

  <footer id="footerRuta">
    <div class="boton">
      <ion-icon name="home" [routerLink]="['/inicio']"></ion-icon>
      <p>Home</p>
    </div>
    <div class="boton">
      <ion-icon name="map" [routerLink]="['/ruta']"></ion-icon>
      <p>Mapa</p>
    </div>
    <div class="boton" (click)="redirigir()">
      <ion-icon name="person"></ion-icon>
      <p>Perfil</p>
    </div>
    <div class="boton">
      <ion-icon name="car" [routerLink]="['/viajes']"></ion-icon>
      <p>Viajes</p>
    </div>
  </footer>

