.contenedor {
  position: relative; /* Permite que los elementos internos se posicionen de forma relativa a este contenedor */
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow: hidden; /* Oculta los elementos fuera del contenedor */
  align-items: center;
}

#map {
  position: absolute; /* Superpone el mapa al contenedor */
  top: 0; /* Asegura que el mapa comience desde el borde superior del contenedor */
  left: 0; /* Asegura que el mapa comience desde el borde izquierdo del contenedor */
  width: 100%; /* Hace que el mapa ocupe todo el ancho */
  height: 100%; /* Hace que el mapa ocupe todo el alto del contenedor */
  z-index: 1; /* Asegura que el mapa esté detrás de otros elementos como inputs o información */
}

#info-viaje {
  position: absolute;
  top: 0;
  height: 3rem;
  z-index: 2; /* Superpone la información del viaje al mapa */
  background-color: #ffffffc7;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}

#input {
  position: absolute;
  bottom: calc(5rem + 10px);
  z-index: 3; /* Asegura que el input esté visible sobre el mapa */
  width: 80%;
  left: 10%;
  height: 3rem;
  border-radius: 10px;
  background-color: #ffffff85;
  border: 1px #cbcbcb solid;
  padding: 0px 10px;
}

#rutas {
  position: absolute;
  bottom: 9rem;
  left: 10%;
  width: 80%;
  height: fit-content;
  z-index: 3; /* Las rutas estarán sobre el mapa y el input */
  background-color: #ffffffc7;
  border-radius: 10px;
  padding: 10px;
}

.ruta {
  height: 2.4rem;
  border-bottom: 1px #e3e3e3 solid;
  line-height: 2.4rem;
}

.ruta:last-child {
  border-bottom: none;
}

footer#footerRuta {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--footer);
  z-index: 4; /* Asegura que el footer esté siempre visible sobre todo */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
