<ion-content [fullscreen]="true">
  <div>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
</div>
  <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
    <div class="contenedor">
    
   
      <ion-item>
        <ion-label>Origen</ion-label>
        <ion-input placeholder="Ingresa el origen" [(ngModel)]="trip.origin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Destino</ion-label>
        <ion-input placeholder="Ingresa el destino" [(ngModel)]="trip.destination"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime [(ngModel)]="trip.date"></ion-datetime>
      </ion-item>
      <ion-button expand="full" (click)="startTrip()">Iniciar Viaje</ion-button>
      
  </div>
  <footer>
    <div class="boton">
      <ion-icon name="home" [routerLink]="['/inicio']"></ion-icon>
      <p>Home</p>
    </div>
    <div class="boton">
      <ion-icon name="Map" [routerLink]="['/ruta']"></ion-icon>
      <p>Mapa</p>
    </div>
    <div class="boton">
      <ion-icon name="person" [routerLink]="['/usuario']"></ion-icon>
      <p>Perfil</p>
    </div>
    <div class="boton">
      <ion-icon name="Car" [routerLink]="['/history']"></ion-icon>
      <p>Viajes</p>
    </div>
  </footer>
</ion-content>