<ion-content [fullscreen]="true">
  <div class="retroceder">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
</div>

  <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>

  <!-- Contenedor de los viajes -->
  <div class="contenedor">
    <ion-item class="iteminicio"*ngFor="let viaje of trips">
      <ion-label>
        <h2>Origen: {{ viaje.origin }}</h2>
        <h3>Destino: {{ viaje.destination }}</h3>
        <p>Conductor: {{ viaje.driverName }}</p>
        <p>Patente: {{ viaje.driverLicensePlate }}</p>
        <p>Pasajeros: {{ viaje.seatsOccupied }} / 4</p>
      </ion-label>
      <!-- Botón para unirse al viaje -->
      <ion-button 
        *ngIf="viaje.seatsOccupied < 4" 
        expand="block" 
        (click)="joinTrip(viaje)">
        Unirme al viaje
      </ion-button>
      <ion-badge *ngIf="viaje.seatsOccupied >= 4" color="danger">Viaje completo</ion-badge>
    </ion-item>

    <!-- Mensaje de alerta si no hay capacidad -->
    <ion-alert *ngIf="alertMessage" header="Advertencia" message="{{ alertMessage }}" buttons="OK"></ion-alert>
  </div>

  <footer>
    <div class="boton">
      <ion-icon name="home" [routerLink]="['/inicio']"></ion-icon>
      <p>Home</p>
    </div>
    <div class="boton">
      <ion-icon name="map" [routerLink]="['/ruta']"></ion-icon>
      <p>Mapa</p>
    </div>
    <div class="boton" (click)="redirigir()">
      <ion-icon name="person"></ion-icon>
      <p>Perfil</p>
    </div>
    <div class="boton">
      <ion-icon name="car" [routerLink]="['/history']"></ion-icon>
      <p>Viajes</p>
    </div>
  </footer>
</ion-content>
