<ion-header>
  <ion-toolbar>
    <ion-title>Crear Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Origen</ion-label>
    <ion-input [(ngModel)]="newTrip.origin" type="text" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input [(ngModel)]="newTrip.destination" type="text" (input)="updateSearchResults()" required></ion-input>
  </ion-item>

  <!-- Lista de sugerencias para autocompletado -->
  <div id="rutas" *ngIf="autocompleteItems.length > 0">
    <div class="ruta" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </div>
  </div>

  <ion-item>
    <ion-label position="floating">Nombre del conductor</ion-label>
    <ion-input [(ngModel)]="newTrip.driverName" type="text" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Placa del conductor</ion-label>
    <ion-input [(ngModel)]="newTrip.driverLicensePlate" type="text" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Asientos ocupados</ion-label>
    <ion-input [(ngModel)]="newTrip.seatsOccupied" type="number" min="0"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addTrip()">Crear Viaje</ion-button>
</ion-content>
