input, button{
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.1rem;
    display: block;
  }

  input{
    background-color: var(--fondo-input);
    color: #f8b627;

  }

  
  ion-button, .boton{
    background-color: var(--boton);
    color: var(--textos);
    border-radius: 0px;
    margin-top: 6vh;
  }

  h1, p{
    color: var(--textos);
    
  }

  
  span, p{
    color: antiquewhite ;
  }  

  h1 {
    margin-top: 68px;
    font-size: 1.625rem;
  }
  ion-icon {
    margin-bottom: 8%;
    margin-top: 6%;
    font-size: 6rem;
    color: var(--icono);
  }
  #tema {
    color: var(--icono-tema);
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 1.5rem;
  }
  
  #contenedor{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
