input, button{
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.1rem;
    display: block;
  }

  input{
    background-color: var(--fondo-input2);
    color: #f8b627;

  }
  input::placeholder {
    color: var(--textos); /* Puedes usar una variable CSS o un color fijo */
    opacity: 1;
  }
  .boton{
    background-color: var(--boton);
    color: var(--textos);
    border-radius: 0px;
    margin-top: 6vh;
    height: 7vh;
  }

  h1, p{
    color: var(--textos);
    
  }

  
  span, p{
    color: antiquewhite ;
  }  

  h1 {
    margin-top: 68px;
    font-size: 1.625rem;
  }
  ion-icon {
    margin-bottom: 8%;
    margin-top: 6%;
    font-size: 6rem;
    color: var(--icono);
  }
  #tema {
    color: var(--icono-tema);
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 1.5rem;
  }
  
  #contenedor{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.retroceder{
  background-color: var(--fondo);
}
ion-label{
  color: var(--icono-tema);
}
.radiogroup {
  width: 100%;
}
ion-item::part(native) {
  background-color: var(--fondo-input2);
  width: 100%;
}

ion-list-header.md.hydrated {
  margin-top: 2vh;
  margin-bottom: -2vh;
  display: flex;
  flex-direction: column;
}

